.zagolovoktd1{
	width: 45%;
	padding: 0 0 0 1.6%;
	background-image: url(bg/bglogo3.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.zagolovoktd1 h2{
	margin: auto;
	font-size: 250%;
}
.zagolovoktd2 img{
	width: 20px;
}

.vk_link {
	ctext-decoration:none; 
	color: black
}

.vk_link:hover {
	color: red; !important
/*	border: 2px blue;*/
}