body{
/*	margin: 0px 8px 0px 8px;*/
margin: 0;
	font-size: 1em;
	min-width: 360px;
	font-family: 'Montserrat';
}

a{
	text-decoration: none;
}
.head {
	margin: 0 0 50px 0;
	width: 100%;
	font-size: 200%;
}
.navigation{	
	background-color: black;
	border-radius: 0px 0px 60px 60px;
	padding: 35px 60px 35px 60px;

}
.navigationtd1{
	color: white;
	padding: 0 30px 0 30px;
}

.logo{
	margin: 120px 10% 120px 10%;
	width: 80%;
}
/*.zagolovok{
	padding: 0px 50px 0px 50px;
}*/
.zagolovoktd{
	width: 45%;
	/*padding: 0 50px 0 50px;*/
	padding: 0 1.6% 0 0;
}
.zagolovoktd1{
	width: 45%;
	padding: 0 0 0 1.6%;/*
	background-image: url(bg/bglogo3.png);
	background-size: contain;
	background-repeat: no-repeat;*/
}
img.zagolovoktd2{
	width: 100% /*400px*/;
	min-width: 650px;
}
p.zagolovoktd2{
	width: /*400px*/100%;
	min-width: 650px;
	font-size: 140%;
	text-align: justify;
	line-height: 1.5;
}
.zagolovoktd1 h1{
	margin: auto;
	font-size: 395%;
}




.sections{
	margin: 0 10% 50px 10%;
	width: 80%;
}
.sections h1{
	font-size: 395%;
}
.sectionstabletd img{
	width: 450px;
	border-radius: 60px;
}
.sectionstabletd{
	color: white;
	padding: 15px;
}
.sectionstabletd p.sectionstabletd1{
	font-size: 200%;
	margin: 0;
	padding: 10px 0px 10px 0px;
	text-align: center;
	width: 450px;
	position: absolute;
	background: rgba(0,0,0,0.5);
	border-radius: 60px 60px 0 0;
}
.sectionstabletd p.sectionstabletd12 {
	font-size: 200%;
	margin: 59px 0 0 0;
	padding: 0 0 10px 0;
	text-align: center;
	width: 450px;
	position: absolute;
	background: rgba(0,0,0,0.5);
}
.sectionstabletd p.sectionstabletd2{
	font-size: 200%;
	margin: 331px 0 0 0;
	padding: 10px 0;
	text-align: center;
	width: 450px;
	position: absolute;
	background: rgba(0,0,0,0.5);
}
.sectionstabletd p.sectionstabletd3{
	font-size: 200%;
	margin: 390px 0 0 0;
	padding: 10px 0;
	text-align: center;
	width: 450px;
	position: absolute;
	background: rgba(0,0,0,0.5);
	border-radius: 0 0 60px 60px;
}
.news {
	margin: 80px 10% 150px 10%;
	width: 80%;
}
.news h1{
	margin: 30px 0 60px 0;
}
.newstabletrtd {
	width: 40%;
}
.newstabletrtd img{
	width: 90%;
	margin: 0 5% 0 5%;
}
.newstabletrtd p {
	width: 90%;
	margin: 0 5% 0 5%;
	font-size: 150%;
	text-align: justify;
}
.footer{
	display: flex;
	flex-direction: row;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}
#youtube{
	width: 180px;
}
#vk{
	width: 120px;
}
#timetable{
	border: 3px solid black;
	width: 95%;

}