body{
	margin: 0;
	font-size: 1em;
	min-width: 360px;
	font-family: 'Montserrat';
}

a{
	text-decoration: none;
}
.newstable a{
	 color: black;
}
.head {
	margin: 0 0 50px 0;
	width: 100%;
	font-size: 200%;
}
.navigation{	
	background-color: black;
	border-radius: 0px 0px 60px 60px;
	padding: 35px 60px 35px 60px;

}
.navigationtd1{
	color: white;
	padding: 0 30px 0 30px;
}

.logo{
	margin: 120px 10% 120px 10%;
	width: 80%;
}
.zagolovoktd{
	width: 45%;
	padding: 0 1.6% 0 0;
}
.zagolovoktd1{
	width: 45%;
	padding: 0 0 0 1.6%;
}
img.zagolovoktd2{
	width: 100%;
	min-width: 650px;

}
p.zagolovoktd2{
	width: 100%;
	min-width: 650px;
	font-size: 140%;
	text-align: justify;
	line-height: 1.5;
}
.zagolovoktd1 h1{
	margin: auto;
	font-size: 395%;
}




.sections{
	margin: 0 10% 50px 10%;
	width: 80%;
}
.sections h1{
	font-size: 395%;
}
.sectionstabletd img{
	width: 450px;
	border-radius: 60px;
}
.sectionstabletd{
	color: white;
	padding: 15px;
}
.sectionstabletd p.sectionstabletd1{
	font-size: 200%;
	margin: 0;
	padding: 10px 0px 10px 0px;
	text-align: center;
	width: 450px;
	position: absolute;
	background: rgba(0,0,0,0.5);
	border-radius: 60px 60px 0 0;
}
.sectionstabletd p.sectionstabletd12 {
	font-size: 200%;
	margin: 59px 0 0 0;
	padding: 0 0 10px 0;
	text-align: center;
	width: 450px;
	position: absolute;
	background: rgba(0,0,0,0.5);
}
.sectionstabletd p.sectionstabletd2{
	font-size: 200%;
	margin: 331px 0 0 0;
	padding: 10px 0;
	text-align: center;
	width: 450px;
	position: absolute;
	background: rgba(0,0,0,0.5);
}
.sectionstabletd p.sectionstabletd3{
	font-size: 200%;
	margin: 390px 0 0 0;
	padding: 10px 0;
	text-align: center;
	width: 450px;
	position: absolute;
	background: rgba(0,0,0,0.5);
	border-radius: 0 0 60px 60px;
}
.news {
	margin: 80px 10% 150px 10%;
	width: 80%;
}
.news h1{
	margin: 30px 0 60px 0;
}
.newstable{
	width: 60%;
	margin: 0 20% 80px 20%;
	padding: 50px 0 50px 0;
	border: 3px ridge black;
}
/*.newstabletrtd {
	width: 40%;
}*/
.newstabletrtd img{
	width: 90%;
	margin: 0 5% 0 5%;
}
.newstabletrtd p {
	width: 90%;
	margin: 40px 5% 0 5%;
	font-size: 150%;
	text-align: justify;
}
.footer{
	display: flex;
	flex-direction: row;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}
#youtube{
	width: 180px;
}
#vk{
	width: 120px;
}
#timetable{
	border: 3px solid black;
	width: 95%;

}
.vk_link_heading {
	display:flex;
	align-items: center;
}

.vk_link {
	display:inline-flex;
	align-items: center;
	padding: 10px;
	margin: 5px;
	height: 40px;
	color: black;
	border: 2px solid rgba(0, 0, 0, 0.0);
	font-size: 1.5rem;
}

.vk_link {

}

.vk_link:hover {
	background-color: rgba(0, 0, 1, 0.1);
	color: blue; 
	font-size: 1.7rem;
	border: 2px solid blue;
	border-radius: 30px;

}
.vk_link:hover img{
	height: 45px;
}
.timetable{

}
table.zebra {
border-spacing: 0;
empty-cells: hide;
}
.zebra td {
padding: 10px 20px;
text-align: center;
border-bottom: 1px solid #F4EEE8;
transition: all 0.5s linear;
}
.zebra td:first-child {
text-align: left;
color: #3D3511;
font-weight: bold;
}
.zebra th {
padding: 10px 10px;
color: #3D3511;
border-bottom: 1px solid #F4EEE8;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.zebra td:nth-child(even) {
background: #AFEEEE;
}
.zebra td:nth-child(odd) {
background: #ADD8E6;
}
.zebra th:nth-child(even)  {
background: #AFEEEE;
}
.zebra th:nth-child(odd)  {
background: #ADD8E6;
}
.round-top {
border-top-left-radius: 5px;
}
.round-bottom {
border-bottom-left-radius: 5px;
}
.zebra tr:hover .zebra td{
background: #D1C7BF;
font-weight: bold;
}