body{
	margin: 0px 8px 0px 8px;
	font-size: 1em;
	min-width: 360px;
}
.head {
	margin: 0 0 100px 0;
	width: 70%;
	padding: 0 15% 0 15%;
}
.navigation{	
	background-color: black;
	border-radius: 0px 0px 30px 30px;
	padding: 20px 30px 20px 30px;

}
.navigationtd1{
	color: white;
	padding: 0 30px 0 30px;
}

.logo{
	margin: 0 10% 50px 10%;
	width: 80%;
}
/*.zagolovok{
	padding: 0px 50px 0px 50px;
}*/
.zagolovoktd{
	width: 45%;
	/*padding: 0 50px 0 50px;*/
	padding: 0 2.5% 0 0;
}
.zagolovoktd1{
	width: 50%;
	padding: 0 0 0 2.5%;
}
img.zagolovoktd2{
	width: 100% /*400px*/;
}
p.zagolovoktd2{
	width: /*400px*/100%;
	font-size: 100%;
	text-align: justify;
}

.sections{
	margin: 0 10% 50px 10%;
	width: 80%;
}
.sectionstabletd img{
	width: 100%;
	border-radius: 30px;
}
.sectionstabletd{
	color: white;


	width: 30%;
	position: relative;
}
.sectionstabletd div{


}
.sectionstabletd p.sectionstabletd1{
	font-size: 150%;
	margin: 0;
	padding: 10px 0px 10px 0px;
	text-align: center;
	width: 270px;
	position: absolute;
	background: rgba(0,0,0,0.5);
	border-radius: 30px 30px 0 0;
}
.sectionstabletd p.sectionstabletd2{
	font-size: 150%;
	margin: 215px 0 0 0;
	padding: 0;
	text-align: center;
	width: 270px;
	position: absolute;
	background: rgba(0,0,0,0.5);
}
.sectionstabletd p.sectionstabletd3{
	font-size: 150%;
	margin: 242px 0 0 0;
	padding: 0;
	text-align: center;
	width: 270px;
	position: absolute;
	background: rgba(0,0,0,0.5);
	border-radius: 0 0 30px 30px;
}
.newstabletrtd {
	width: 1100px;
	padding: 40px;
}
.newstabletrtd img{
	width: 700px;
	margin: 0 0 0 200px;
}
.newstabletrtd p {
	width: 500px;
	padding: 0 0 0 300px;
	text-align: justify;
}
.footer{
	color: white; 
	background-color: #3B3B3B;
	width: 1100px;
	margin: auto;
	font-size: 80%;
}
.footertabletrtd1{
	color: white; !important
}
.footertabletrtd{
	width: 25%;
	padding: 10px;
}


.block{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
}

.block_top .block_bottom{
	background: rgba(1, 1, 1, 1.0);
}


.block_text {
	text-decoration: none;
	color: white;
	
}